numpy
opencv-contrib-python
opencv-python
tensorflow==1.15.0
Cython
Django
Keras-Applications
Keras-Preprocessing
Markdown
Pillow
Werkzeug
absl-py
asgiref
astor
cachetools
djitellopy
ffmpeg
gast
h5py
image
imutils
mat73
matplotlib
protobuf
pygame
scipy
setuptools
six
tellopy
termcolor
urllib3
wheel
wrapt